<div id="container" class="container ">
    <div>
        <h1 class="title">Elige <span class="red-font ">tu plan</span> </h1>
    </div>
    <div class="container  mrg">
        <div class="row">
            <div class="container card col-md-4">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <h4 class="gray-font">Seguro edificación</h4>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <button class="btn button1">LO QUIERO</button>
                </div>
            </div>
            <div class="container card col-md-4">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <h4 class="gray-font">Seguro edificación</h4>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <button class="btn button1">LO QUIERO</button>
                </div>
            </div>
        </div>

    </div>

</div>
<hr>