.mrg {
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h4 {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding: 15px;
}

div .card {
    width: 18rem;
}

#container {
    padding-top: 40px;
    padding-bottom: 60px;
    margin-bottom: 30px;
    margin-top: 20px;
}


/* .float-l {
    float: left;
}

.float-r {
    float: right;
} */

h1 {
    text-align: center;
    padding: 20px;
}

.button1 {
    color: #fff;
    background-color: #ef3340;
    border-color: #ef3340;
    padding: 18px 32px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-right: 20px;
    width: 100%
}

.button1:hover,
.btn-modal:hover {
    background-color: #f1444f;
    border-color: #f1444f;
}

.img-star {
    width: 80px;
    height: 80px;
}

.btn-modal {
    background-color: #f1444f;
    width: 250px;
}

.logo-home {
    width: 50px;
    height: 50px;
}

.img-trab {
    width: 300px;
}