<div id="container" class="container ">
    <div>
        <h1 class="title">Elige<span class="red-font "> tu plan</span> </h1>
    </div>
    <div class="container  mrg margin-botton">
        <div class="row">
            <div class="container card col-md-4">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <h4>Seguro edificación</h4>
                <h6 class="gray-font">Desde</h6>
                <h4 class="gray-font">S/ 45.90</h4>
                <div class="card-body margin-botton ">
                    <h5 class="card-title">Tus beneficios</h5>
                    <div class="row">
                        <div class="card col-sm-4" style="width: 2rem;">
                            <div class="card-body">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="card col-sm-4" style="width: 2rem;">
                            <div class="card-body">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="card col-sm-4" style="width: 2rem;">
                            <div class="card-body">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="card col-sm-4" style="width: 2rem;">
                            <div class="card-body">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="card col-sm-4" style="width: 2rem;">
                            <div class="card-body">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="card col-sm-4" style="width: 2rem;">
                            <div class="card-body">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container margin-botton-div">
                    <h5>Beneficios adicionales</h5>
                    <div class="row icon-bar five-up">
                        <div class=" item  col-md-2 ">
                            <a href="" data-toggle="tooltip" data-placement="top" title="Disfruta de 3 meses gratis de Netflix"><img class="rounded-circle" src="../../../assets/img/icon-netflix.png" alt="netflix"></a>
                        </div>
                        <div class=" item  col-md-2 margin-sides">
                            <a href="" data-toggle="tooltip" data-placement="top" title="Disfruta de 3 meses gratis de Netflix"><img class="rounded-circle" src="../../../assets/img/icon-netflix.png" alt="netflix"></a>
                        </div>
                        <div class=" item  col-md-2 margin-sides">
                            <a href="" data-toggle="tooltip" data-placement="top" title="Disfruta de 3 meses gratis de Netflix"><img class="rounded-circle" src="../../../assets/img/icon-netflix.png" alt="netflix"></a>
                        </div>
                        <div class=" item  col-md-2 margin-sides">
                            <a href="" data-toggle="tooltip" data-placement="top" title="Disfruta de 3 meses gratis de Netflix"><img class="rounded-circle" src="../../../assets/img/icon-netflix.png" alt="netflix"></a>
                        </div>
                        <div class=" item  col-md-2 margin-sides">
                            <a href="" data-toggle="tooltip" data-placement="top" title="Disfruta de 3 meses gratis de Netflix"><img class="rounded-circle" src="../../../assets/img/icon-netflix.png" alt="netflix"></a>
                        </div>
                    </div>
                </div>
                <div class="center-text margin-b">
                    <a href="../../../assets/img/seguro-hogar-rimac-2019.pdf">Conocer más</a>
                </div>
                <div class="card-body">
                    <button class="btn button1" data-toggle="modal" data-target="#exampleModalCenter">LO QUIERO</button>
                </div>
            </div>
            <div class="container card col-md-4">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <h4>Seguro edificación</h4>
                <h6 class="gray-font">Desde</h6>
                <h4 class="gray-font">S/ 45.90</h4>
                <div class="card-body margin-botton ">
                    <h5 class="card-title">Tus beneficios</h5>
                    <div class="row">
                        <div class="card col-sm-4" style="width: 2rem;">
                            <div class="card-body">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="card col-sm-4" style="width: 2rem;">
                            <div class="card-body">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="card col-sm-4" style="width: 2rem;">
                            <div class="card-body">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="card col-sm-4" style="width: 2rem;">
                            <div class="card-body">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="card col-sm-4" style="width: 2rem;">
                            <div class="card-body">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="card col-sm-4" style="width: 2rem;">
                            <div class="card-body">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container margin-botton-div">
                    <h5>Beneficios adicionales</h5>
                    <div class="row icon-bar five-up">
                        <div class=" item  col-md-2 ">
                            <a href="" data-toggle="tooltip" data-placement="top" title="Disfruta de 3 meses gratis de Netflix"><img class="rounded-circle" src="../../../assets/img/icon-netflix.png" alt="netflix"></a>
                        </div>
                        <div class=" item  col-md-2 margin-sides">
                            <a href="" data-toggle="tooltip" data-placement="top" title="Disfruta de 3 meses gratis de Netflix"><img class="rounded-circle" src="../../../assets/img/icon-netflix.png" alt="netflix"></a>
                        </div>
                        <div class=" item  col-md-2 margin-sides">
                            <a href="" data-toggle="tooltip" data-placement="top" title="Disfruta de 3 meses gratis de Netflix"><img class="rounded-circle" src="../../../assets/img/icon-netflix.png" alt="netflix"></a>
                        </div>
                        <div class=" item  col-md-2 margin-sides">
                            <a href="" data-toggle="tooltip" data-placement="top" title="Disfruta de 3 meses gratis de Netflix"><img class="rounded-circle" src="../../../assets/img/icon-netflix.png" alt="netflix"></a>
                        </div>
                        <div class=" item  col-md-2 margin-sides">
                            <a href="" data-toggle="tooltip" data-placement="top" title="Disfruta de 3 meses gratis de Netflix"><img class="rounded-circle" src="../../../assets/img/icon-netflix.png" alt="netflix"></a>
                        </div>
                    </div>
                </div>
                <div class="center-text margin-b">
                    <a href="../../../assets/img/seguro-hogar-rimac-2019.pdf">Conocer más</a>
                </div>
                <div class="card-body">
                    <button class="btn button1">LO QUIERO</button>
                </div>
            </div>
        </div>
        <!-- Modal 1: Elección -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">¡ALGÚN TEXTO!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mx-auto" style="width: 200px;">
                            <img src="../../../assets/img/star-red.png" alt="estrella-roja" class="img-star" />
                        </div>
                        <p>Estás a un paso de tener tu seguro</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-modal" data-toggle="modal" data-target="#contactModal">Llámenme ahora</button>
                        <button type="button" class="btn btn-danger btn-modal">Llámenme luego</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2: Datos + contacto por whatsapp -->
        <div class="modal fade modal-space" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <img src="assets/img/logo-home.jpg" class="logo-home" alt="">
                        <h1> ¡Buena idea!</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <img src="../../../assets/img/producto_d_coberturas@2x.png" alt="trabajadores-rimac" class="img-trab">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Ingresa tu nombre y apellido:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Coloca tu número de celular:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Para mas información:</label>
                                <div class="row modal-footer">
                                    <div class="col-sm-12 text-center">
                                        <button type="button" id="message-text" class="btn btn-danger btn-lg " data-dismiss="modal">Te llamaremos</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>