.img-home {
    width: 70%
}

.mrg {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 80px;
}

.padding-sides {
    padding: 0 40px 0 40px;
}

.img-ppl {
    max-width: 500px;
    max-height: 100%;
}

div img {
    width: 100%
}

img {
    vertical-align: middle;
}

div .h1-f {
    font-weight: 400;
    font-size: 56px;
    line-height: 68px;
    letter-spacing: -0.6px;
    text-align: left;
    font-family: Roboto, sans-serif !important;
}

div h3 {
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    font-family: Roboto, sans-serif !important;
}

.red-font {
    color: #ef3340;
}

.gray-font {
    color: #494f66;
}

.padding-botton {
    padding-bottom: 16px;
}

.font-weigth {
    font-weight: 200 !important;
}

.button1 {
    color: #fff;
    background-color: #ef3340;
    border-color: #ef3340;
    padding: 18px 32px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-right: 20px;
}

.button1:hover {
    background-color: #f1444f;
    border-color: #f1444f;
}

.button2 {
    color: #ef3340;
    background-color: transparent;
    border: 1px solid #ef3340;
    padding: 18px 32px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    border-radius: 8px;
}

.button2:hover {
    color: #fff;
    padding: 18px 32px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-right: 20px;
    background-color: #f1444f;
    border-color: #f1444f;
}