<div class="container mrg">
    <div class="row">
        <div class="col-sm-6">
            <img src="../../../assets/img/producto_d_hogar@2x.png" alt="Plan hogar a tu medida" class="img-home img-ppl" />
        </div>
        <div class=" padding-sides col-sm-6">
            <p class="gray-font padding-botton h1-f"> <span class="font-weigth ">Seguro </span> <span class="red-font">Hogar <br> a tu Medida</span></p>
            <h3 class="font-weigth padding-botton">¡Toc, toc! Estés o no en casa, tu tranquilidad está asegurada, y al mejor precio</h3>
            <button class="red button1">VER PLANES</button>
            <button class="button2">BENEFICIOS PARA TI</button>
        </div>
    </div>
</div>
<hr>