<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">
    <hr>
    <div>
        <div>
            <img class="img-fluid" src="../../../assets/img/footer-img.png" alt="pie de página con accesos directos">
        </div>
        <hr>
        <div class="container ">
            <!-- Grid row-->
            <div class=" last-section row py-4 d-flex align-items-center">
                <!-- Grid column -->
                <!-- Copyright -->
                <div class="footer-copyright text-center text-black-50 py-3">
                    <span><img class=" mr-left mr-rigth" src="../../../assets/img/logo-rimac-red.png" alt="logo rimac"></span>
                    <span class="ligth-gray">© 2018 RIMAC Seguros y Reaseguros</span>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class=" ligth-gray col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram white-text mr-4"> </i>
                    </a>
                    <!-- Youtube +-->
                    <a class="gplus-ic">
                        <i class="fab fa-youtube white-text "> </i>
                    </a>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->

        </div>
    </div>
</footer>
<!-- Footer -->