<div class="container mrg">
    <h2 class="title-video ">Estamos contigo para <span class="red-font ">proteger tu esfuerzo</span> </h2>
    <div class="row">
        <div class="col-8">
            <iframe width="620" height="420" src="https://www.youtube.com/embed/ClbijnsgyHY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-4">
            <p>Cubrimos daños, robos o pérdidas que pueda sufrir tu hogar o lo que guardas en él.</p>
            <p>El lugar donde vives siempre estará protegido con un <span class="red-font ">seguro a tu medida</span>.</p>
            <p>Conoce la experiencia de nuestros clientes en el video</p>
            <button class="button1">Quiero proteger mi hogar</button>
        </div>
    </div>
</div>
<hr>