.size {
    width: 50px;
    height: 50px;
}

#container {
    padding-top: 40px;
    padding-bottom: 60px;
    margin-bottom: 30px;
    /* margin-top: 20px; */
}

.contenedor-modal {
    position: absolute;
    width: 70%;
    height: 70%;
    text-align: center;
}

h1 {
    text-align: center;
    padding-bottom: 50px;
}

.button1 {
    color: #fff;
    background-color: #ef3340;
    border-color: #ef3340;
    padding: 18px 32px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-right: 20px;
}

.button1:hover {
    background-color: #f1444f;
    border-color: #f1444f;
}