<div class="container" id="container">
    <h1>¿Cómo, cuándo y dónde <span class="red-font">usar tu seguro?</span> </h1>
    <div class="row ">
        <div class="col-md-4">
            <div class=" img-comousar">
                <img src="assets/img/comousarimg.PNG" alt="como usar el seguro" class="img-benefits">
            </div>
            <div class="contenedor-modal">
                <button type="button" class="  btn btn-danger btn-lg btn-responsive col align-self-center button1" data-toggle="modal" data-target="#miModal">Como usar</button>
            </div>

            <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div>
                        <!-- <div class="modal-header"> -->
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     CLOSE
                    </button> -->
                        <!-- <h4 class="modal-title" id="myModalLabel">E</h4> -->
                        <!-- </div> -->
                        <div class="modal-body">
                            <img src="assets/img/cusar.PNG" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-responsive">
                <img src="assets/img/nocubreimg.PNG" alt="que no cubre el seguro" class="img-benefits" />
            </div>
            <div class="contenedor-modal">
                <button type="button" class=" button1 btn btn-danger btn-lg btn-responsive col align-self-center" data-toggle="modal" data-target="#miModal">No cubre</button>
            </div>

            <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"></span>
                    </button>
                    
                  </div> -->
                        <div class="modal-body">
                            <img src="assets/img/nocubre.PNG" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <img src="assets/img/pregfrecu.PNG" alt="preguntas frecuentes" class="img-benefits" />
            </div>
            <div class="contenedor-modal">
                <button type="button" class=" button1 btn btn-danger btn-lg btn-responsive col align-self-center" data-toggle="modal" data-target="#miModal">Preguntas frecuentes</button>
            </div>

            <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"></span>
                    </button>
                    
                  </div> -->
                        <div class="modal-body">
                            <img src="assets/img/pregfre.PNG" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- <div class="container">
  <div class="row ">
    <ul>
      <li>
          <img src="assets/img/netflix (1).jpg"   class="img-fluid rounded-circle size "  >
      </li>
      <li>
          <img src="assets/img/gasfiteria.jpg" alt=""  class="img-fluid rounded-circle size " >
      </li>
    </ul>
       
        
       
    

  </div>
  <div class="row">

  </div>
</div> -->